:root {
    --font-main: "Iosevka Charon Mono";
    --font-kbd: "Jersey 10";
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #efefef;
    font-family: var(--font-main), monospace;
}
*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}
::selection {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-shadow: 1px 1px 2px #2d0000;
}
button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}
input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
    cursor: text;
}
kbd {
    border-radius: 3px;
    font-family: var(--font-kbd), monospace;
}

#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("img/bg.png");
    background-color: #beae9e;
    background-repeat: repeat;
    background-size: 256px 128px;
    background-position: 10px 10px;
    image-rendering: pixelated;
    &.draggable, &.img-draggable {
        cursor: grab;
    }
    &.dragging, &.img-dragging {
        cursor: grabbing;
    }
}

#viewport, .handle {
    &[data-cursor="ew"] { cursor: ew-resize; }
    &[data-cursor="ns"] { cursor: ns-resize; }
    &[data-cursor="nw"] { cursor: nwse-resize; }
    &[data-cursor="ne"] { cursor: nesw-resize; }
}

/* TIPS */
& .tips > * {
    position: absolute;
    margin: 40px;
    color: #7c7367;
    text-shadow: 0 0 3px #eadbc8;
    opacity: 1;
    filter: none;
    --transition-duration: 250ms;
    transition: all var(--transition-duration) ease;
    &.fast {
        --transition-duration: 75ms;
    }
    &.hide {
        opacity: 0;
        filter: blur(10px);
    }
    & kbd {
        padding-inline: 3px;
        border: 1px solid #93897c;
        box-shadow: 0 2px 0 #776c60;
    }
    &.a {
        transform: rotate(-15deg);
    }
    &.b {
        left: 600px;
        bottom: 25px;
        transform: rotate(-5deg);
    }
    &.c {
        left: 900px;
        bottom: 25px;
        transform: rotate(2deg);
    }
    &.d {
        left: 50%;
        top: 25%;
        margin: 0;
        transform: translate(-50%, -50%);
    }
    &.e {
        left: 20px;
        bottom: 25px;
        transform: rotate(3deg);
    }
    &.draw {
        left: 600px;
        top: 15px;
        transform: rotate(-2deg);
        &.move {
            left: 550px;
            top: 20px;
            transform: rotate(2deg);
        }
    }
    &.imgv {
        top: 300px;
        transform: rotate(3deg);
        & h3::before {
            content: '➢ ';
        }
    }
    &.bs {
        left: 735px;
        top: -15px;
        transform: rotate(-3deg);
    }
}

/* CANVAS */
#canvas-wrapper {
    image-rendering: auto;
    width: 1280px;
    height: 720px;
    position: absolute;
    overflow: visible;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    background: white;
    box-shadow:
       0 3px 0 rgba(0, 0, 0, .25),
       0 0 5px rgba(0, 0, 0, .25);
    &.pixelated {
        image-rendering: pixelated;
    }
    & canvas,
    & #imgv-wrapper {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        &.hide { display: none; }
    }
    & #canvas-draw {
        &.drawing    { cursor: none; }
        &.eyedropper { cursor: copy; }
    }
    & #canvas-over, #canvas-info {
        pointer-events: none;
    }
    &.fx-copied {
        /* todo animation */
        outline: 3px solid white;
        outline-offset: 3px;
    }
    & .selection {
        position: absolute;
        outline: 1px dashed black;
        & .handle {
            --size: 10px;
            --offset: -10px;
            width:  var(--size);
            height: var(--size);
            position: absolute;
            background: white;
            border: 1px solid black;
            pointer-events: all;
            &.l { left:   var(--offset); }
            &.r { right:  var(--offset); }
            &.t { top:    var(--offset); }
            &.b { bottom: var(--offset); }
        }
    }
}
#brush_cursor {
    position: absolute;
    border: 1px dashed black;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    transform: translate(-50%, -50%);
    &.drawing.on-canvas {
        display: block;
    }
}

/* PANEL */
& .panel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-block: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    color: #333;
    text-wrap: nowrap;
    border-radius: 2px;
    text-shadow: 0 0 5px rgba(0,0,0,0.15);
    box-shadow: 0 3px 0 #666;
    cursor: default;
    &#panel-main {
        bottom: 0;
        margin-bottom: 8px;
    }
    & > div {
        padding-inline: 6px;
    }
    & > * {
        gap: 5px;
        width: 100%;
        height: 100%;
        background-image:
           linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15)),
           url("img/bg-light.png");
        background-color: #e5e6ea;
        background-repeat: repeat;
        background-size: 64px 64px;
        border-top: 1px solid white;
        border-left: 1px solid #eee;
        max-height: 36px;
        display: flex;
        align-items: center;
        & .divider {
            width: 0;
            height: 24px;
            margin-inline: 2px;
            border-left: 1px dashed #666;
        }
        &.hide {
            display: none;
        }
        /* first */
        &:nth-child(1 of :not(.hide)) {
            border-radius: 3px 0 0 3px;
            padding-left: 10px;
        }
        /* all except last */
        &:nth-last-child(n + 2 of :not(.hide)) {
            border-right: 1px solid #666;
        }
        /* last */
        &:nth-last-child(1 of :not(.hide)) {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid #ccc;
            padding-right: 10px;
        }
    }
    & button {
        padding: 0 6px;
        &[id^="tool"] span {
            font-style: italic;
        }
        &:hover {
            background-image:
               linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15)),
               url("img/bg-dark.png");
            background-repeat: repeat;
            background-size: 64px 64px;
            & kbd {
                color: #ffe;
            }
        }
        &:active {
            transform: translateY(1px);
        }
        &:focus {
            outline: 1px dashed #babcc2;
            outline-offset: -3px;
        }
        &.active {
            &[id^="tool"] span {
                font-weight: bold;
            }
            & kbd {
                color: gold;
            }
        }
    }
    & img {
        width: 24px;
        height: 24px;
        image-rendering: auto;
    }
    & kbd {
        width: 16px;
        &.w {
            width: 32px;
        }
        text-align: center;
        color: #ddd;
        background-image:
           linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)),
           url("img/bg-gray.png");
        background-color: #63636b;
        background-repeat: repeat;
        --border-a: #444;
        --border-t: #ddd;
        --border-l: #888;
        --shadow:   #333;
        border:      1px solid var(--border-a);
        border-top:  1px solid var(--border-t);
        border-left: 1px solid var(--border-l);
        box-shadow: 0 2px 0 var(--shadow);
        font-size: 18px;
        &.fx-clicked {
            transform: translateY(1px);
            box-shadow: 0 1px 0 var(--shadow);
        }
        &.y {
            color: #f0fff9;
            background-image:
               linear-gradient(rgba(0, 127, 68, 0.15), rgba(0, 255, 136, 0.25)),
               linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)),
               url("img/bg-gray.png");
            --border-a: #3C594C;
            --border-t: #C4E1D4;
            --border-l: #799588;
            --shadow: #2D4A3C;
            /*https://meyerweb.com/eric/tools/color-blend/#00FF88:333333:8:hex*/
        }
        &.n {
            color: #fff2f8;
            background-image:
               linear-gradient(rgba(127, 0, 34, 0.15), rgba(255, 0, 68, 0.25)),
               linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)),
               url("img/bg-gray.png");
            --border-a: #593C44;
            --border-t: #E1C4CC;
            --border-l: #957980;
            --shadow: #4A2D35;
        }
    }
}

/* INPUTS */
input[type="text"], input[type="number"] {
    background: rgba(255, 255, 255, 0.15);
    height: 24px;
    width: 80px;
    padding-inline: 5px;
    font-size: 14px;
    color: #222;
    border: 1px solid transparent;
    border-bottom: 1px solid #777;
    &:hover, &:focus-visible {
        border-radius: 2px;
        border: 1px solid #888;
        border-bottom: 1px solid #777;
        border-top: 1px solid #999;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    }
    &:focus-visible {
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    }
}
input[type="number"] {
    width: 48px;
    text-align: right;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
input[type="color"] {
    --color: #000000;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 1px solid color-mix(in srgb, var(--color) 60%, #ddd);
    box-shadow: 0 2px 0 color-mix(in srgb, var(--color) 45%, #333);
    &::-webkit-color-swatch-wrapper {
        padding: 0;
        border: none;
        outline: none;
    }
    &::-webkit-color-swatch {
        border: none;
        outline: none;
    }
    &::-moz-color-swatch {
        border: none;
        outline: none;
    }
    &:hover {
        box-shadow:
           0 2px 0 color-mix(in srgb, var(--color) 45%, #444),
           0 0 5px rgba(255, 255, 255, 1);
    }
    &:active {
        transform: translateY(1px);
        box-shadow:
           0 1px 0 color-mix(in srgb, var(--color) 45%, #333);
    }
    &:focus-visible {
        outline: 1px dashed #babcc2;
        outline-offset: 2px;
    }
}
.deg {
    position: relative;
    display: inline-block;
    &::after {
        content: "°";
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    & input {
        padding-right: 10px;
    }
}
#input_rotate {
    width: 64px;
}