html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #efefef;
    font-family: "Iosevka Charon Mono", monospace, sans-serif;
}
::selection {
    background-color: black;
    color: gold;
    text-shadow: none;
}
button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}
#brush_cursor {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    &.drawing.on-canvas {
        display: block;
    }
}
#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("img/bg.png");
    background-color: #beae9e;
    background-repeat: repeat;
    background-size: 256px 128px;
    background-position: 10px 10px;
    image-rendering: pixelated;
    &.draggable, &.img-draggable {
        cursor: grab;
    }
    &.dragging, &.img-dragging {
        cursor: grabbing;
    }
    & .tips > * {
        position: absolute;
        margin: 40px;
        color: #7c7367;
        text-shadow: 0 0 3px #eadbc8;
        & kbd {
            font-family: "Jersey 10", monospace, sans-serif;
            padding-inline: 3px;
            border: 1px solid #93897c;
            box-shadow: 0 2px 0 #776c60;
            border-radius: 3px;
        }
        &.a {
            transform: rotate(-15deg);
        }
        &.b {
            left: 600px;
            bottom: 25px;
            transform: rotate(-5deg);
        }
    }
    & #canvas-wrapper {
        image-rendering: smooth; /* todo configurable */
        width: 1280px;
        height: 720px;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        background: white;
        box-shadow: 0 3px 0 rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .25);
        & canvas {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            &#canvas-draw.drawing {
                cursor: none;
            }
            &#canvas-over {
                pointer-events: none;
                &.img-draggable {
                    pointer-events: all;
                }
                &.fx-copied {
                    /* todo animation */
                    outline: 3px solid white;
                    outline-offset: 3px;
                }
            }
        }
    }
    & .panel {
        user-select: none;
        -webkit-user-select: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-block: 5px;
        height: 36px;
        display: flex;
        align-items: center;
        color: #333;
        text-wrap: nowrap;
        border-radius: 2px;
        text-shadow: 0 0 5px rgba(0,0,0,0.15);
        box-shadow: 0 3px 0 #666;
        &#panel-main {
            bottom: 0;
            margin-bottom: 8px;
        }
        &#panel-aux {
            & > * {
                padding-inline: 10px;
            }
            & #out_thickness {
                min-width: 24px;
                text-align: right;
            }
        }
        & > * {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-image:
               linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15)),
               url("img/bg-light.png");
            background-color: #e5e6ea;
            background-repeat: repeat;
            background-size: 64px 64px;
            border-top: 1px solid white;
            border-left: 1px solid #eee;
            max-height: 36px;
            display: flex;
            align-items: center;
            &.hide {
                display: none;
            }
            /* first */
            &:nth-child(1 of :not(.hide)) {
                border-radius: 3px 0 0 3px;
            }
            /* all except last */
            &:nth-last-child(n + 2 of :not(.hide)) {
                border-right: 1px solid #666;
            }
            /* last */
            &:nth-last-child(1 of :not(.hide)) {
                border-radius: 0 3px 3px 0;
                border-right: 1px solid #ccc;
            }
        }
        & button {
            padding: 0 6px;
            &[id^="tool"] span {
                font-style: italic;
            }
            &:hover {
                background-image:
                   linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15)),
                   url("img/bg-dark.png");
                background-repeat: repeat;
                background-size: 64px 64px;
                transform: translateY(1px);
                & kbd {
                    color: #ffe;
                }
            }
            &:focus {
                outline: 1px dashed #babcc2;
                outline-offset: -3px;
            }
            &.active {
                &[id^="tool"] span {
                    font-weight: bold;
                }
                & kbd {
                    color: gold;
                }
            }
        }
        & img {
            width: 24px;
            height: 24px;
        }
        & kbd {
            min-width: 8px;
            text-align: center;
            background-image:
               linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)),
                url("img/bg-gray.png");
            background-color: #63636b;
            background-repeat: repeat;
            padding-inline: 3px;
            margin-right: 5px;
            border: 1px solid #444;
            border-top: 1px solid #ddd;
            border-left: 1px solid #888;
            color: #ddd;
            border-radius: 3px;
            box-shadow: 0 2px 0 #333;
            font-size: 18px;
            font-family: "Jersey 10", monospace, sans-serif;
        }
    }
}